h1, h2 {
font-family: Oswald, sans-serif;
text-transform: uppercase;
}
h3, h4 {
	font-family:  "Times New Roman", Georgia, Serif;
	text-transform:lowercase;
	color: 	#008080;
}
p {
  font-family: Helvetica, Arial, sans-serif; 
}

body {
  background: url(http://samsung-wallpapers.com/uploads/allimg/151009/1-151009151451.jpg);
}
  
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family:verdana ;
    font-size: 18px;
	color:darkblue;
}
p.normal {
    font-style: normal;
}

p.italic {
    font-style: italic;
}

p.oblique {
    font-style: oblique;
}
.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}
